<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style-signin.css">
    <link rel="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,700;1,600&display=swap" href="">
    <title>Registrarse</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="../icons/logo.png" alt="logo">
    </header>
    <section class="sign-in">
        <section class="sign-in__container">
            <form class="sign-in__container__form">
                <p>Registrarse</p>
                <input class="input" type="text" placeholder="Nombre">
                <input class="input" type="text" placeholder="Correo">
                <input class="input" type="password" placeholder="Contraseña">
                <button class="button">Registrarme</button>
            </form>
            <div class="sign-in__container--login">
                <a href="/login.html">Iniciar sesión</a>
            </div>
        </section>
    </section>
    <footer class="footer">
        <a href="/">Terminos de uso</a>
        <a href="/">Declaración de privacidad</a>
        <a href="/">Centro de ayuda</a>
    </footer>
</body>
</html>